nav{
	background: black;
	margin-top: -10px;
	position: fixed;
	
	
}
#s1{
	margin-left: 479px;
	height: 110px;
	width: 110px;
}
#f1{
	height: 110px;
}
ul{
	margin-bottom: 0px;
	margin-top: 0px;
}
li{
	display: inline;
	font-size: 22px;
}
.navbar h1,a{
	
	padding: 10px;
	size: 300px;
	text-decoration: none;

}
.navbar a{
	color: white;
}
.grid_4{
	margin-top: 220px;

}

.grid_4 img{
	height: 250px;
	width: 300px;
	margin-right:50px;
	background: lightblue;
	
}
#section1{
	background: Cornsilk;
	font-family: Atomic Age;
}
#section2{
	background: Cornsilk;
	font-family: Amita;
}
#section3{
	background: Cornsilk;
	font-family: Baumans;
}
.herounit{
	background: #2d2d2a;
	width: 100%;
	float: right;
	margin-top: 50px; 
	text-align: center;

}

.herounit span{
	font-size: 20px;
	
}

.herounit h3{
	font-size: 28px;
	color: white;
	font-family: Baumans;


}
.herounit figcaption{
	color: white;
}
.herounit img{
	height: 500px;
	width: 500px;
}
.grid_6{
font-family: Amita;
font-size: 18px;
}
.grid_6 img{
	height: 500px;
	width:450px;
	margin-top:60px;
	margin-right:50px;
}
.sub1{
	margin-top: 60px;
}
.sub1 img{
	height: 200px;
	width: 450px;

}
.sub2{
	margin-top: 15px;
	margin-right:50px;
	width: 400px;
	background: Cornsilk ;
}
.sub2 h4{
    font-family: Sofia;
    font-size: 20px;
}
.sub3{
	margin-top: 15px;
	margin-right:50px;
	background: LightCyan ;
	font-size: Amita;
}
.sub3 h4{
	font-size: Amita;
}
.footer{
	background:#27292d;
	margin: auto;
	text-align: center;
	padding-right: 30px; 
	display: block;
	margin-bottom: -20px;
	
}
footer a{
	font-size:36px;
	color:white;
}
footer h2{
	font-family: Croissant One;
	color: Bisque ;
}
footer h4{
	color: white ;
}
section{
	
	margin: auto;
	padding-top: 20px;
	float: left; 
}


