nav{
	background: black;
	margin-top: -10px;
	position: fixed;	
	width: 100%;
}
body{
	font-family: Andada;
}
#navimg1{
	margin-left: 540px;
	height: 110px;
	width: 110px;
}
#navimg2{
	height: 110px;
}
ul{
	margin-bottom: 0px;
	margin-top: 0px;
}
li{
	display: inline;
	font-size: 22px;
}
.navbar h1,a{
	
	padding: 10px;
	size: 300px;
	text-decoration: none;

}
.navbar a{
	color: white;
}
.grid_4{
	margin-top: 220px;
	height: 400px;


}


.grid_4 img{
	height: 250px;
	width: 300px;
	margin-right:50px;
	background: lightblue;
	
}
#section1{
	background: Cornsilk;
	font-family: Andada;
	padding-top: 20px;
}
#section2{
	background: Cornsilk;
	padding-top: 20px;
	
}
#section3{
	background: Cornsilk;
	padding-top: 20px;
	
	
}
.herounit{
	background: #2d2d2a;
	width: 100%;
	float: right;
	margin-top: 50px; 
	text-align: center;

}

.herounit span{
	font-size: 20px;
	
}

.herounit h3{
	font-size: 28px;
	color: white;
}
.herounit figcaption{
	color: white;
}
.herounit img{
	height: 500px;
	width: 500px;
}
.grid_6{
font-size: 18px;
height: 650px;
}
.grid_6 img{
	height: 500px;
	width:450px;
	margin-top:60px;
	margin-right:50px;
}
#section4{
	
}
.row3col3{
	background: MintCream ;
}
.row3col1 img{
	height: 200px;
	width: 450px;
}
.row3col2{
	margin-top: 0px;
	margin-right:50px;
	width: 400px;
	background: Cornsilk ;
}

.footer{
	background:#27292d;
	margin: auto;
	text-align: center;
	padding-right: 30px; 
	display: block;
	margin-bottom: -100px;
	margin-top: 50px;
	
}
footer a{
	font-size:36px;
	color:white;
	display: white;
}
footer h2{
	
	color: Bisque ;
}
footer h4{
	color: white ;
}



